<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Router</title>

        <!-- Bootstrap -->      
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">

        <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

        <style>
            #map { 
                position:absolute; 
                top:0; 
                bottom:0;
                width:100%;
            }

            #route {
                background: #fff;
                position: absolute;
                top: 5%;
                right: 10%;
                width: 158px;
                margin-left: -80px;
                z-index: 1000;
                font: 13px/18px;
                text-align: center;
                padding: 10px 0;
                color: #3C4E5A;
                display: block;
                border: 1px solid #BBB;
                -webkit-border-radius: 3px;
                border-radius: 3px;
            }

            #route:hover {
                background: #ECF5FA;
            }
        </style>

    </head>
    <body>
        <div id='map'></div>
        <a href='#' id='route'>Find a route</a>

        <script>
            var route = document.getElementById('route');
            var map = L.mapbox.map('map', 'f2prateek.hnbdc587')
            .setView([ {{ location[0] }}, {{ location[1] }}], 10);

            L.mapbox.featureLayer({
                // this feature is in the GeoJSON format: see geojson.org
                // for the full specification
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    // coordinates here are in longitude, latitude order because
                    // x, y is the standard for GeoJSON and many formats
                    coordinates: [ {{ location[1] }}, {{ location[0] }}]
                },
                properties: {
                    title: 'You are here!',
                    // one can customize markers by adding simplestyle properties
                    // http://mapbox.com/developers/simplestyle/
                    'marker-size': 'large',
                    'marker-symbol': 'star-stroked',
                    'marker-color': '#8787CB'
                }
            }).addTo(map);

            var geoJson = [
                {% for venue in venues %}
                {
                    // this feature is in the GeoJSON format: see geojson.org
                    // for the full specification
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        // coordinates here are in longitude, latitude order because
                        // x, y is the standard for GeoJSON and many formats
                        coordinates: [ {{ venue['location']['lng'] }}, {{ venue['location']['lat'] }}]
                    },
                    properties: {
                        title: {{ venue['name']|tojson|safe }},
                    // one can customize markers by adding simplestyle properties
                    // http://mapbox.com/developers/simplestyle/
                    'marker-size': 'small',
                    'marker-color': '#0099cc'
                }
                }
                {% if not loop.last %}
                ,
                {% endif %}
                {% endfor %}
            ];

            var featureLayer = L.mapbox.featureLayer(geoJson).addTo(map);
            //Trying to center the marker causes the map to not be displayed in certain cases
            //e.g. cupcake, sobeys, safeway
            //markers are still displayed, but the map isn't
            //map.fitBounds(featureLayer.getBounds());
            featureLayer.on('mouseover', function(e) {
                e.layer.openPopup();
            });
            featureLayer.on('mouseout', function(e) {
                e.layer.closePopup();
            });

            featureLayer.on('click',function(e) {		
                if(e.layer.feature.properties['selected']) {
                    e.layer.feature.properties['selected'] = false;	
                    e.layer.feature.properties['marker-color'] = '#0099cc';	
                }
                else {
                    e.layer.feature.properties['selected'] = true;	
                    e.layer.feature.properties['marker-color'] = '#006080';	
                }
                featureLayer.setGeoJSON(geoJson);
                console.log(e);
            });

            route.onclick = function (e) {
                var url = {{ url_for('route')|tojson|safe }} + "?location=(" + {{ location[0]|tojson|safe }} + "," + {{ location[1]|tojson|safe }} + ")";
            for (var i = 0; i < geoJson.length; i++) {
                var point = geoJson[i];
                if (point.properties['selected']) {
                    // coordinates are in lng, lat format, url should be in lat, lng
                    url = url + "&location=(" + point.geometry.coordinates[1] + "," + point.geometry.coordinates[0] + ")"
                }
            }
            window.location.href = url;
            };
        </script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
